:root {
    --preco-botao: #febe01;
    --color-botao: #332200;
    --bg-black: #111;
    --color-gray: #b2b2b2;
    --color-white: #fff;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}w

.container {
    max-width: 70%;
    margin: 0 auto;
}

h1 {
    color: var(--bg-black);
    text-align: center;
}

h2 {
    color: var(--color-white);
}

.item {
    background-color: var(--bg-black);
    color: var(--color-gray);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.destaque-yel {
    color: var(--preco-botao);
}

a {
    text-decoration: none;
    background-color: var(--preco-botao);
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    color: var(--color-botao);
}